///////////TC Markers////////////////////
/////////////////////////////////////////

  .video-js .vjs-progress-control:hover .vjs-tc-marker {

    opacity:0.5;

  }

  .vjs-tc-marker {
     position: absolute;
     left: 0;
     bottom: 0em;
      height:1.0em;
     transition: opacity .2s ease;
     -webkit-transition: opacity .2s ease;
     -moz-transition: opacity .2s ease;
     &:hover{
        cursor:pointer;
        opacity:1;

       -webkit-transform:scale(1.7, 1.5);
        -moz-transform:scale(1.7, 1.5);
        -o-transform:scale(1.7, 1.5);
        -ms-transform:scale(1.7, 1.5);
        transform:scale(1.7, 1.5);

       bottom:0.2em;

     }
  }


  ///////////TC Marker end/////////////////
  /////////////////////////////////////////
  
  ///////////////////////////////////////////
  /////////////tc_buttons///////////////////
  
  ///tc_in///

  .video-js .vjs-tc-in-button {

    //background-color:red;
    cursor:pointer;
    left:2.5em;  
    //right:8.5em;
    position:relative;
    display:inline-block;
    font-size:15px;
    top:-10px;
    width:auto;


  }

  .video-js .vjs-tc-in-button::after {

    content:'[';


  }

  ///tc_out///

  .video-js .vjs-tc-out-button {

    cursor:pointer;
    left:3.5em; 
    position:relative;
    display:inline-block;
    font-size:15px;
    top:-10px;
    width:auto;


  }

  .video-js .vjs-tc-out-button::after {

    content:']';


  }

  /////////////tc_buttons end///////////////
  //////////////////////////////////////////
  
  //////////////Time line Section///////////
  /////////////////////////////////////////
  
  .video-js .vjs-progress-control:hover .vjs-section {

    opacity:0.5;

  }

  .vjs-section {

     position: absolute;
     left: 0;
     bottom: 0em;
      height:1.0em;
     transition: opacity .2s ease;
     -webkit-transition: opacity .2s ease;
     -moz-transition: opacity .2s ease;
     &:hover{
        cursor:pointer;
        opacity:1;
     }
  }

  .vjs-tc-tip {
     visibility: hidden;
     display: block;
     opacity: 1;
     padding: 5px;
     font-size: 10px;
     position: absolute;
     bottom: 18px;
     z-index: 100000;

     .vjs-tc-tip-arrow {
          background: url('data:image/gif;base64,R0lGODlhCQAJAKIAAAAAAP////v7+/T09P///wAAAAAAAAAAACH5BAEAAAQALAAAAAAJAAkAAAMUSEqxHtAxGBW988KRsfULJSmCkwAAOw==') no-repeat top left;

        bottom:2px;
        margin-left: -4px;
        background-position: bottom left;
        position: absolute;
        width: 9px;
        height: 5px;
     }
    
    .vjs-tc-tip-image {

       border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        padding: 2px;
        background-color: white;
        color: white;
        max-width: 200px;
        text-align: center;

     }

  }

  .vjs-tc-break-overlay{
     visibility: hidden; 
     position: absolute;
     z-index: 100000;
     top: 0;
     .vjs-tc-break-overlay-text{
        padding: 9px;
        text-align: center;
     }
  }

  ///////////end of Time line Section///////
  //////////////////////////////////////////